:root {
  --tours-prim-color: #f5f6f8;
  --tours-sec-color: #353438;
}
.all-tours-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
} 
 .tours-header {
  position: fixed;
  width: 100%;
  color: var(--tours-prim-color);
  background-color: rgb(22, 21, 21);
  border-bottom: 1rem solid var(--tours-sec-color);
  z-index: 1;
  height: 70px;
}
.all-tours-title {
  text-align: center;
  color: whitesmoke;
  font-size: 2rem;
  margin: 4rem;
}
.all-tours-card {
  max-width: 700px;
  border: 2rem solid var(--tours-sec-color);
  margin-top: 10rem;
  padding: 1rem;
}
.tours-card-tittile {
  white-space: nowrap;
  color: dodgerblue;
  font-size: 3.5rem;
  text-align: center;
  margin: 0;
}
 .tours-img {
  float: left;
  width: 350px;
  height: 300px;
  border-radius: 1rem;
}
.img-left {
  float: right;
  margin: 0.1rem;
}
.img-right {
  float: left;
  margin: 0.1rem;
}
.card-text {
  text-align: center;
}
.all-tour-description {
  font-size: 2.3rem;
  text-align: justify;
  color: var(--tours-prim-color);
}
.tours-card-footer {
  width: 100%;
  display: grid;
  place-items: center;
}
.all-tour-price {
  color: dodgerblue;
  font-size: 3rem;
}
.tour-order-btn {
  width: 220px;
  height: 40px;
  color: rgb(212, 204, 204);
  background: none;
  font-size: 2.3rem;
  font-weight: 700;
  border: .2rem solid var(--tours-prim-color);
  border-radius: 1rem;
  cursor: pointer;
  transition: .3s;
} 
.tour-order-btn:hover {
  text-shadow: 1rem 2rem 6rem rgb(255, 255, 255);
  color: white;
}

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: rgba(0, 0, 0, 0.8);
  margin: 10% auto;
  padding: 0.5rem;
  max-width: 700px;
  animation: modalopen 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@keyframes modalopen {
  from {opacity: 0;}
  to {opacity: 1;}
}
.close-modal-btn {
  width: 100%;
  text-align: right;
  font-size: 4rem;
  color: white;
  cursor: pointer;
}

@media (max-width: 600px) {
  .all-tours-card {
    display: grid;
  }
  .tours-img {
    width: 100%;
  }
}