:root {
  --tours-prim-color: #f1d4f8;
  --tours-sec-color: #312424;
}
.all-tours-section {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 50%;
  justify-content: center;
  gap: 2rem;
} 
 .all-tours-head {
  text-align: center;
  color: var(--tours-prim-color);
  background-color: var(--tours-sec-color);
  font-size: 4.5rem;
  margin: 2rem 0;
}
.all-tours-card {
  padding: 10px;
  width: 48%;
  border: 2rem solid var(--tours-sec-color);
}
.all-tours-tittile {
  white-space: nowrap;
  color: dodgerblue;
  font-size: 4rem;
  text-align: center;
  margin: 0;
}
 .tours-img {
  float: left;
  max-width: 350px;
  border-radius: 1rem;
}
.img-left {
  float: right;
  margin: 0.5rem;
}
.img-right {
  float: left;
  margin: 0.5rem;
}
.card-text {
  color: var(--tours-prim-color);
  text-align: justify;
}
.all-tour-description {
  font-size: 2.5rem;
}
.tours-card-footer {
  width: 100%;
  display: grid;
  place-items: center;
}
.all-tour-price {
  color: dodgerblue;
  font-size: 3rem;
}
.tour-order-btn {
  width: 220px;
  height: 40px;
  color: rgb(212, 204, 204);
  background: none;
  font-size: 2.3rem;
  font-weight: 700;
  border: .2rem solid var(--tours-prim-color);
  border-radius: 1rem;
  cursor: pointer;
  transition: .3s;
} 
.tour-order-btn:hover {
  text-shadow: 1rem 2rem 6rem rgb(255, 255, 255);
  color: white;
}

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0 auto;
  border: .1rem solid var(--tours-prim-color);
  max-width: 500px;
  height: 500px;
  animation: modalopen 1s;
}
@keyframes modalopen {
  from {opacity: 0;}
  to {opacity: 1;}
}
.close-modal-btn {
  display: block;
  text-align: right;
  margin: 1rem;
  font-size: 3rem;
  color: white;
  cursor: pointer;
}