body {
    background-color:  aliceblue;
    height: 100vh;
    width: 100%;
    z-index: 23333;
}
.gallery-heading {
    font-size: 2.7rem;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-style: italic;
    text-align: center;
    letter-spacing: .1rem;
    color: white;
    margin: 2rem 0;
}
.gallery-content {
    max-width: 1200px;
    margin: auto;
    padding: 50px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,2fr));
    grid-auto-flow: dense;
    grid-gap: 20px;     
}
.gallery-content .img-box {
    border: .1rem solid rgb(165, 153, 153);
    padding: 10px;
    overflow: hidden;
}
.gallery-content .img-box:nth-child(7n + 1) {
    grid-column: span 2;
    grid-row: span 2;
}
.gallery-content .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .8s;
}
.gallery-content .img-box img:hover {
    transform: scale(120%);
}

@media only screen and (max-width: 700px){
    .gallery-content{
        grid-gap: .5rem;
    }
}
@media only screen and (max-width: 450px) {
    .gallery-content .img-box:nth-child(7n + 1) {
        grid-column: span 1;
        grid-row: span 1;
    }
}