*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    user-select: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: url('./imgs/productsBG.jpg');
    background-attachment: fixed;
    cursor: pointer;
}
::-webkit-scrollbar {
    display: none;
}
.gallery-heading {
    font-size: 1.7rem;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-style: italic;
    text-align: center;
    letter-spacing: .1rem;
    color: white;
    margin: 2rem 0;
}
.gallery-content {
    max-width: 1200px;
    margin: auto;
    padding: 50px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,2fr));
    grid-auto-flow: dense;
    grid-gap: 20px;     
}
.gallery-content .img-box {
    border: .1rem solid rgb(165, 153, 153);
    padding: 10px;
    overflow: hidden;
}
.gallery-content .img-box:nth-child(7n + 1) {
    grid-column: span 2;
    grid-row: span 2;
}
.gallery-content .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .8s;
}
.gallery-content .img-box img:hover {
    transform: scale(120%);
}