@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style: none;
  font-family: consolas;
}
html {
  font-size: 60%; 
  scroll-behavior: smooth;
  font-weight: 600;
}
body {
  background-color: #0c0c0c;
  width: 100%;
  height: 100vh;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hide {
  display: none;
}
::-webkit-scrollbar {
  display: none;
}
:root {
  --red-color: rgb(223, 23, 23);
  --black-color: #0a0a0a;
  --primary-color: rgb(202, 209, 202);
}
::selection {
  background-color: gray;
}
/* * global styles end * */

.loader{
  width: 100%;
  height: 100vh;
  position: fixed;
  /* display: flex; */         
  display: none; /* !   display turnoff */
  user-select: none;
  background-color: #0a0a0a;
}
.loader span {
  font-size: .2rem;
  letter-spacing: .3rem;
  animation: loading 1s  ease-in-out infinite alternate;
}

@keyframes loading {
  0% {
    text-shadow: 10px 0 70px var(--red-color);
    color: var(--primary-color);
  }
  100% {
    color: var(--red-color);
      font-size: 4rem;
    }
  }

.loader span:nth-child(2) {
    animation-delay: 0.1s;
}
  .loader span:nth-child(3) {
    animation-delay: 0.2s;
}
  .loader span:nth-child(4) {
    animation-delay: 0.3s;
}
  .loader span:nth-child(5) {
    animation-delay: 0.4s;
}
.loader span:nth-child(6) {
    animation-delay: 0.5s;
}
.loader span:nth-child(7) {
    animation-delay: 0.6s;
}
.loader span:nth-child(8) {
    animation-delay: 0.7s;
}
.loader span:nth-child(9) {
    animation-delay: 0.8s;
}
.loader span:nth-child(10) {
    animation-delay: 0.9s;
} /* * loader end * */ 

.firs-page {
  width: 100%;
  height: 100%;
  position: relative;
}
.menu-content {
  width: 100%;
  height: 100vh;
  position: fixed;
  flex-direction: column; 
  z-index: 8;
  background-color: var(--black-color);
  transition: transform 1s;
}
.menu-content {
  transform: translateX(-100%);
}
.menu-content.open-menu {
  transform: translateX(0);
}
.menu-content li a {
  font-size: 4rem;
  color: var(--primary-color);
  line-height: 6rem;
  font-weight: 600;
  transition: .4s;
}
.menu-content li a:hover {
  text-decoration: underline;
}
.menu {
  position: fixed;
  top: 0;
  right: 0;
  margin: 5rem;
  cursor: pointer;
  z-index: 9;
}
.menu span {
  display: block;
  width:  50px;
  height:  10px;
  background-color: var(--primary-color);
  transition:  0.5s ease-in-out;
  margin: .7rem;
}
.menu span:first-child {
  transform-origin: 0% 0%;
}
.menu span:last-child {
  transform-origin: 0% 100%;
}
.menu.open span:first-child {
  transform: rotate(45deg);
}
.menu.open span:last-child {
  transform: rotate(-45deg);
}
@media (min-width: 1000px) {
  .menu,.menu-content {
    display: none;
  }
}

/* Allgeorgia text - animation */
.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  animation: fill 0.5s ease forwards 3;
  animation: logo-border 5s ease forwards;
  padding: 0 0 0.2rem 0;
}
.logo path:nth-child(2) {  /* first child is rect */
  stroke-dashoffset: 362.75px;
  stroke-dasharray: 362.75px;
  animation: logo-txt-anim 2s ease forwards;
}
.logo path:nth-child(3) {
  stroke-dashoffset: 207.61px;
  stroke-dasharray: 207.61px;
  animation: logo-txt-anim 2s ease forwards;
}
.logo path:nth-child(4) {
  stroke-dashoffset: 207.61px;
  stroke-dasharray: 207.61px;
  animation: logo-txt-anim 2s ease forwards 0.3s;
}
.logo path:nth-child(5) {
  stroke-dashoffset: 380.69px;
  stroke-dasharray: 380.69px;
  animation: logo-txt-anim 2s ease forwards 0.6s;
}
.logo path:nth-child(6) {
  stroke-dashoffset: 315.15px;
  stroke-dasharray: 315.15px;
  animation: logo-txt-anim 2s ease forwards 1.2s;
}
.logo path:nth-child(7) {
  stroke-dashoffset: 258.610px;
  stroke-dasharray: 258.610px;
  animation: logo-txt-anim 2s ease forwards 1.5s;
}
.logo path:nth-child(8) {
  stroke-dashoffset: 154.26px;
  stroke-dasharray: 154.26px;
  animation: logo-txt-anim 2s ease forwards 1.7s;
}
.logo path:nth-child(9) {
  stroke-dashoffset: 386.67px;
  stroke-dasharray: 386.67px;
  animation: logo-txt-anim 2s ease forwards 1.9s;
}
.logo path:nth-child(10) {
  stroke-dashoffset: 146.22px;
  stroke-dasharray: 146.22px;
  animation: logo-txt-anim 2s ease forwards 2.1s;
}
.logo path:nth-child(11) {
 stroke-dashoffset: 295.05px;
 stroke-dasharray: 295.05px;
 animation: logo-txt-anim 2s ease forwards 2.3s;
}
@keyframes logo-txt-anim {
  to {
    stroke-dashoffset: 0;
  }
}

.scroll-angle {
  font-size: 7rem;
  cursor: pointer;
  animation: arrow-anime 4s ease-in-out infinite;
  transition: font-size .5s;
}
.scroll-angle a {
  color: var(--red-color);
}
.down-angle {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.up-angle {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes arrow-anime {
  0%{ opacity: 0.2;}
  50%{text-shadow: 0 15px 30px var(--red-color); opacity: 1;}
  50%{ opacity: 0.7;}
  100%{text-shadow: 0 3px 10px var(--red-color); opacity: 0.2;}
}
.scroll-angle:hover {
  font-size: 9rem;
  opacity: 1;
  animation: none;
}
/* end first page  */

.about-section {
  width: 100%;
  min-height: 100vh;
  border-bottom: .5rem solid var(--primary-color);
  margin-bottom: 4rem;
  padding-bottom: 2rem;
}
.about-wrapper {
  width: 85%;
}
.about-para {
  font-size: calc(1vw + 5rem);
  color: var(--primary-color);
  text-align: justify;
  text-indent: 4rem;
}
.about-para span {
  color: var(--red-color);
}

.contact-link {
  color: var(--primary-color);
  text-decoration: underline;
}
.contact-link:hover {
  text-decoration: underline;
  color: dodgerblue;
}
/* *  end about section * */

/*  * start tours section * */
.tours-section {
  perspective: 1200px;
  padding: .3rem;
  min-height: 100vh;
  border-bottom: .5rem solid var(--red-color);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.tours-head {
  display: none;
}
.tours-head-wrapper {
  text-align: center;
  animation: spin ease 5s;
  animation-iteration-count: forward;
}
.tours-heading {
  font-size: calc(1vw + 6rem);
  color: var(--red-color);
}
.tours-heading-txt {
  font-size: calc(1vw + 2rem);
  color: var(--primary-color);
  animation: appear 6s ease-in-out;
}
@keyframes appear {
  0% { opacity: 0;}
  90% { opacity: 0;}
  100% {opacity: 1;}
}
@keyframes spin {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(1turn);
  }
} /* tours heading rotate animations */

.tours-card-wrapper {
  flex-wrap: wrap;
}
.tours-card {
  width:500px;
  height:350px;
  position:relative;
  overflow:hidden;
  background: black;
  border-radius: .4rem;
  margin: 2rem;
  transition: border 3s;
}
.tours-card-1 .img-bar {
  background-image:url("./imgs/card-img1.jpg");
}
.tours-card-2 .img-bar {
  background-image:url("./imgs/card-img2.jpg");
}
.tours-card-3 .img-bar {
  background-image:url("./imgs/card-img3.jpg");
}
.tours-card-4 .img-bar {
  background-image:url("./imgs/card-img4.jpg");
}
.tours-card .img-bar {
  height:100%;
  background-size:cover;
  background-repeat:no-repeat;
  position:absolute;
  transition:all 1s;
  border-radius:5px;
}
.tours-card .img-bar {
  width: 100%;
  z-index: 4;
  transition-delay: 0.1s;
}
.tours-card:hover .img-bar {
  transform:translateY(-100%);
}

.card-content {
  flex-direction:column;
  height:100%;
  padding:0 30px;
  transform:translateY(100%);
  transition:all 1.5s;
  transition-delay:0.3s;
  color: rgb(31, 30, 30);
  font-style: italic;
  font-weight: 700;
}
.card-content h2 {
  color: var(--red-color);
  font-size: 3rem;
}
.card-content p {
  color: var(--primary-color);
  text-indent: 2rem;
  font-size: 2rem;
  line-height: 3.5rem;
  font-family: 'Josefin', sans;
  letter-spacing: .2rem;
  text-align: justify;
  font-weight: 800;
}
.tours-card:hover .card-content {
  transform:translateY(0);
}

.all-tours-link {
  text-align: center;
  color: white;
  font-size: 2.5rem;
  font-family: 'Courier New', Courier, monospace;
}
.all-tours-link:hover {
  text-decoration: underline;
}
/* *  ** end tours section ** * */

.contact-section {
  min-height: 100vh;
  position: relative;
  padding: 2rem;
  width: 100%;
  background-color: rgb(0, 0, 0);
}
.contact-heading {
  font-size: calc(1vw + 6rem);
  text-align: center;
  color: var(--red-color);
  margin: 8rem 0;
}
.contact-wrapper {
  width: 100%;
  display: flex;
  gap: 4rem;
  justify-content: space-evenly;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
  width: 600px;
}
.form-input, .textarea {
  width: 100%;
  height: 80px;
  padding: 2rem;
  border: none;
  font-size: 3rem;
  letter-spacing: .1rem;
  border-radius: .2rem;
  color: white;
  background-color: black;
  border: .1rem solid red;
  transition: background-color .5s;
}
.form-input:focus, .textarea:focus {
  background-color: gray;
  color: white;
  border: none;
}
.form-input:focus::placeholder, .textarea:focus::placeholder {
  color: rgb(0, 0, 0);
}
.textarea {
  resize: none;
  max-width: 100%;
  min-height: calc(10vh + 20rem);
}
.submit-btn {
  margin: .3rem 0;
  font-size: 3rem;
  width: 100%;
  height: 80px;
  color: gray;
  background-color: black;
  border: .1rem solid var(--red-color);
  cursor: pointer;
  transition: color .3s;
  font-weight: 600;
}
.submit-btn:hover {
  color: white;
}
.submit-btn:active {
  transform: translate(.3rem, -.3rem);
}  /*input contacts end */

.social-contacts {
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
  width: 360px;
}
.contact-devices div{
  display: flex;
  font-size: 3rem;
  gap: 5rem;
  height: 6rem;
}
hr {
  border: 1px solid var(--red-color);
}
.contact-devices div a {
  color: var(--primary-color);
  letter-spacing: .16rem;
}
.contact-devices div a::selection {
  color: white;
}
.contact-devices div a:hover {
  text-decoration: underline;
}
.contact-devices div:nth-child(1) {
  color: green;
}
.contact-devices div:nth-child(2) {
  color: orange;
}

.social-icons-wrapper ul {
  display: flex;
  margin: 1.2rem 0;
}
.social-icons-wrapper ul a i {
  font-size: 4rem;
  margin: 0 1rem 1rem 0;
  cursor: pointer;
  color: var(--primary-color);
  transition: .3s;
}
.social-icons-wrapper ul a i:hover {
  color: rgb(255, 255, 255);
}
/* end contact section  */


@media (max-width: 1120px) {
  html {
    font-size: 45%;
  }
  .contact-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .social-contacts {
    margin-top: 10rem;
  }
  .contact-devices div {
    font-size: 2.3rem;
    width: 90%;
    gap:0 2rem ;
    height: 4rem;
  }
  .contact-devices {
    margin-top: 5rem;
  }
}
@media (max-width: 700px) {
  .contact-form, .social-contacts {
    width: 100%;
  }
  .menu span {
    margin: .9rem ;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 40%;
  }
}