*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  font-size: 60%; 
  scroll-behavior: smooth;
}
body {
  background-color: #0a0a0a;
  width: 100%;
  height: 100vh;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hide {
  display: none;
}
::-webkit-scrollbar {
  display: none;
}
:root {
  --primary-color: red;
  --black-color: #0a0a0a;
  --red-collor: red;
  --white-collor: white;
}
/* * global styles end * */

.loader{
  width: 100%;
  height: 100vh;
  position: fixed;
  /* display: flex; */         
  display: none; /* !   display turnoff */
  user-select: none;
  background-color: #0a0a0a;
}
.loader span {
  font-size: .2rem;
  letter-spacing: .3rem;
  animation: loading 1s  ease-in-out infinite alternate;
}

@keyframes loading {
  0%{
    text-shadow: 10px 0 70px var(--primary-color);
    color: var(--white-collor);
  }
  100%{
    color: var(--primary-color);
      font-size: 4rem;
    }
  }

.loader span:nth-child(2) {
    animation-delay: 0.1s;
}
  .loader span:nth-child(3) {
    animation-delay: 0.2s;
}
  .loader span:nth-child(4) {
    animation-delay: 0.3s;
}
  .loader span:nth-child(5) {
    animation-delay: 0.4s;
}
.loader span:nth-child(6) {
    animation-delay: 0.5s;
}
.loader span:nth-child(7) {
    animation-delay: 0.6s;
}
.loader span:nth-child(8) {
    animation-delay: 0.7s;
}
.loader span:nth-child(9) {
    animation-delay: 0.8s;
}
.loader span:nth-child(10) {
    animation-delay: 0.9s;
} 


.firs-page {
  width: 100%;
  height: 100vh;
  position: relative;
}
/* Allgeorgia text - animation */
.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fill 0.5s ease forwards 3;
  animation: logo-border 5s ease forwards;
  padding: 0 0 0.2rem 0;
}

.logo path:nth-child(2){  /* first child is rect */
  stroke-dashoffset: 362.75px;
  stroke-dasharray: 362.75px;
  animation: logo-txt-anim 2s ease forwards;
}
.logo path:nth-child(3){
  stroke-dashoffset: 207.61px;
  stroke-dasharray: 207.61px;
  animation: logo-txt-anim 2s ease forwards;
}
.logo path:nth-child(4){
  stroke-dashoffset: 207.61px;
  stroke-dasharray: 207.61px;
  animation: logo-txt-anim 2s ease forwards 0.3s;
}
.logo path:nth-child(5){
  stroke-dashoffset: 380.69px;
  stroke-dasharray: 380.69px;
  animation: logo-txt-anim 2s ease forwards 0.6s;
}
.logo path:nth-child(6){
  stroke-dashoffset: 315.15px;
  stroke-dasharray: 315.15px;
  animation: logo-txt-anim 2s ease forwards 1.2s;
}
.logo path:nth-child(7){
  stroke-dashoffset: 258.610px;
  stroke-dasharray: 258.610px;
  animation: logo-txt-anim 2s ease forwards 1.5s;
}
.logo path:nth-child(8){
  stroke-dashoffset: 154.26px;
  stroke-dasharray: 154.26px;
  animation: logo-txt-anim 2s ease forwards 1.7s;
}
.logo path:nth-child(9){
  stroke-dashoffset: 386.67px;
  stroke-dasharray: 386.67px;
  animation: logo-txt-anim 2s ease forwards 1.9s;
}
.logo path:nth-child(10){
  stroke-dashoffset: 146.22px;
  stroke-dasharray: 146.22px;
  animation: logo-txt-anim 2s ease forwards 2.1s;
}
.logo path:nth-child(11){
 stroke-dashoffset: 295.05px;
 stroke-dasharray: 295.05px;
 animation: logo-txt-anim 2s ease forwards 2.3s;
}
@keyframes logo-txt-anim {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes logo-border {
  100%{box-shadow: 1px 1px var(--primary-color);}
}

.scroll-angle {
  font-size: 5rem;
  cursor: pointer;
  animation: arrow-anime 4s ease-in-out infinite;
  transition: font-size .5s;
}
.scroll-angle a{
  color: var(--primary-color);
}
.down-angle {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.up-angle {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes arrow-anime{
  0%{ opacity: 0.2;}
  50%{text-shadow: 0 15px 30px var(--primary-color); opacity: 1;}
  50%{ opacity: 0.7;}
  100%{text-shadow: 0 3px 10px var(--primary-color); opacity: 0.2;}
}
.scroll-angle:hover {
  font-size: 7rem;
  opacity: 1;
  animation: none;
  text-shadow: 0 10px 20px var(--primary-color);
}
/* end first page  */

.about-section {
  width: 100%;
  height: 100vh;
  position: relative;
  border-bottom: .5rem solid var(--white-collor);
}
.about-wrapper {
  width: 65%;
}
.about-para {
  font-size: 8rem;
  color: var(--white-collor);
  text-align: justify;
}
.about-para span {
  color: var(--red-collor);
}
.about-para:hover .contact-link{
  color: blue;
  text-decoration: underline .2rem;
}
.contact-link {
  color: var(--white-collor);
}
/* *  end about section * */

/*  * start tours section * */
.tours-section {
  perspective: 1000px;
  padding: 3rem;
  min-height: 100vh;
  border-bottom: .5rem solid var(--red-collor);
}
.tours-head {
  display: none;
}
.tours-head-card {
  width: 500px;
  height: 250px;
  border-radius: .5rem;
  background-color: transparent;
  text-shadow: 0px 1px 10px red;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  animation: spin ease 5s;
  animation-iteration-count: forward;
}
.tours-heading {
  font-size: 8rem;
  color: red;
}
.tours-heading-txt {
  font-size: 2rem;
  color: white;
}
/* heading card rotate animation */
@keyframes spin {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(1turn);
  }
}
/* * end tours section * */

.contact-section {
  height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
}
