@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style: none;
  font-family: consolas;
}
html {
  font-size: 60%; 
  scroll-behavior: smooth;
  font-weight: 600;
}
body {
  height: 100vh;
  width: 100%;
  background: url("./imgs/productsBG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hide {
  display: none;
}
::-webkit-scrollbar {
  display: none;
}
:root {
  --primary-collor: rgb(75, 143, 36);
  --black-color: #0a0a0a;
  --white-collor: rgb(168, 173, 168);
}
::selection {
  background-color: rgb(36, 34, 34);
}

/* * global styles end * */

.loader-div {
  display: block;
  height: 100vh;
  width: 100%;
  background: url("./imgs/productsBG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.loader-txt {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(44, 42, 42);
  position: relative;
  border-bottom: 5px solid rgb(44, 42, 42);
  width: 205px;
  letter-spacing: .2rem;
  font-size: 3.5rem;
}
.loader-txt::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 5px solid rgb(194, 202, 194);
  animation: load 4s linear forwards;
  overflow: hidden;
}
@keyframes load {
  0%{width: 0%;}
  75% { width: 30%; color: rgb(159, 167, 159);}
  100% { width: 100%; color: rgb(194, 202, 194);}
}  

.body-wrapper {
  display: none;
}

.firs-page {
  width: 100%;
  min-height: 100vh;
  position: relative;
}
.menu-content {
  width: 100%;
  height: 100vh;
  position: fixed;
  flex-direction: column; 
  z-index: 8;
  background-color: var(--black-color);
  transition: transform 1s;
}
.menu-content {
  transform: translateX(-100%);
}
.menu-content.open-menu {
  transform: translateX(0);
}
.menu-content li a {
  font-size: 4rem;
  color: var(--white-collor);
  line-height: 6rem;
  font-weight: 600;
  transition: .4s;
}
.menu-content li a:hover {
  text-decoration: underline;
}
.menu {
  position: fixed;
  top: 0;
  right: 0;
  margin: 5rem;
  cursor: pointer;
  z-index: 100;
}
.menu span {
  display: block;
  width:  50px;
  height:  10px;
  background-color: var(--white-collor);
  margin: .9rem;
  transition:  0.5s ease-in-out;
}
.menu span:first-child {
  transform-origin: 0% 0%;
}
.menu span:last-child {
  transform-origin: 0% 100%;
}
.menu.open span:first-child {
  transform: rotate(45deg);
}
.menu.open span:last-child {
  transform: rotate(-45deg);
}
@media (min-width: 1000px) {
  .menu,.menu-content {
    display: none;
  }
}

/* Allgeorgia text - animation */
.logo {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  animation: fill 0.5s ease forwards 3;
  padding: 0 0 0.2rem 0;
  position: fixed;
}
.logo path:nth-child(2) {  /* first child is rect */
  stroke-dashoffset: 362.75px;
  stroke-dasharray: 362.75px;
  animation: logo-txt-anim 2s ease forwards;
}
.logo path:nth-child(3) {
  stroke-dashoffset: 207.61px;
  stroke-dasharray: 207.61px;
  animation: logo-txt-anim 2s ease forwards;
}
.logo path:nth-child(4) {
  stroke-dashoffset: 207.61px;
  stroke-dasharray: 207.61px;
  animation: logo-txt-anim 2s ease forwards 0.3s;
}
.logo path:nth-child(5) {
  stroke-dashoffset: 380.69px;
  stroke-dasharray: 380.69px;
  animation: logo-txt-anim 2s ease forwards 0.6s;
}
.logo path:nth-child(6) {
  stroke-dashoffset: 315.15px;
  stroke-dasharray: 315.15px;
  animation: logo-txt-anim 2s ease forwards 1.2s;
}
.logo path:nth-child(7) {
  stroke-dashoffset: 258.610px;
  stroke-dasharray: 258.610px;
  animation: logo-txt-anim 2s ease forwards 1.5s;
}
.logo path:nth-child(8) {
  stroke-dashoffset: 154.26px;
  stroke-dasharray: 154.26px;
  animation: logo-txt-anim 2s ease forwards 1.7s;
}
.logo path:nth-child(9) {
  stroke-dashoffset: 386.67px;
  stroke-dasharray: 386.67px;
  animation: logo-txt-anim 2s ease forwards 1.9s;
}
.logo path:nth-child(10) {
  stroke-dashoffset: 146.22px;
  stroke-dasharray: 146.22px;
  animation: logo-txt-anim 2s ease forwards 2.1s;
}
.logo path:nth-child(11) {
 stroke-dashoffset: 295.05px;
 stroke-dasharray: 295.05px;
 animation: logo-txt-anim 2s ease forwards 2.3s;
}
@keyframes logo-txt-anim {
  to {
    stroke-dashoffset: 0;
  }
}

.scroll-angle {
  font-size: 7rem;
  cursor: pointer;
  transition: font-size .5s;
  transition: .5s;
  animation: arrow-anime 4s ease-in-out infinite;
}
.scroll-angle a {
  color: var(--white-collor);
}
.down-angle {
  color: var(--white-collor);
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}
.down-angle:hover {
animation: none;
}
.up-angle {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 1;
}

@keyframes arrow-anime {
  0%{text-shadow: 0 15px 10px var(--white-collor); opacity: .2;}
  50%{text-shadow: 0 15px 30px var(--white-collor); opacity: .7;}
  100%{text-shadow: 0 15px 10px var(--white-collor); opacity: 0.2;}
}
.scroll-angle:hover {
  font-size: 9rem;
  opacity: 1;
  animation: none;
  margin: 10px 0;
}
/* end first page  */

.about-section {
  width: 100%;
  min-height: 100vh;
  border-bottom: .5rem solid var(--white-collor);
  margin-bottom: 4rem;
  padding-bottom: 2rem;
}
.about-wrapper {
  width: 85%;
}
.about-para {
  font-size: calc(1vw + 5rem);
  color: var(--white-collor);
  text-align: justify;
  text-indent: 4rem;
}
.about-para span {
  color: var(--primary-collor);
}

.contact-link {
  color: var(--white-collor);
  text-decoration: underline;
}
 .about-para:hover .contact-link {
  color: dodgerblue;
}
/* *  end about section * */

/*  * start tours section * */
.tours-section {
  padding: .3rem;
  min-height: 100vh;
  border-bottom: .5rem solid var(--white-collor);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.tours-head-wrapper {
  text-align: center;
}
.tours-heading {
  font-size: calc(1vw + 6rem);
  color: var(--primary-collor);
}
.tours-heading-txt {
  font-size: calc(1vw + 2rem);
  color: var(--white-collor);
  margin: 1rem 0;
}
 /* tours heading rotate animations */

.tours-card-wrapper {
  flex-wrap: wrap;
}
.tours-card {
  width:500px;
  height:350px;
  position:relative;
  overflow:hidden;
  background: rgba(0, 0, 0, 0.4);
  border: .4rem solid var(--white-collor);
  border-radius: .4rem;
  margin: 2rem;
}
.tours-card-1 .img-bar {
  background-image:url("./imgs/card-img1.jpg");
}
.tours-card-2 .img-bar {
  background-image:url("./imgs/card-img2.jpg");
}
.tours-card-3 .img-bar {
  background-image:url("./imgs/card-img3.jpg");
}
.tours-card-4 .img-bar {
  background-image:url("./imgs/card-img4.jpg");
}
.tours-card .img-bar {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  transition: all 1.4s;
  border-radius: 5px;
}
.tours-card .img-bar {
  width: 100%;
  z-index: 4;
  transition-delay: 0.1s;
}
.tours-card:hover .img-bar {
  transform: scale(0) translateY(-100%);
}

.card-content {
  flex-direction:column;
  height:100%;
  padding:0 2rem;
  transform:translateY(100%);
  transition:all 1.5s;
  transition-delay:0.3s;
  color: rgb(31, 30, 30);
  font-style: italic;
  font-weight: 700;
}
.card-content h2 {
  color: var(--primary-collor);
  font-size: 4rem;
}
.card-content p {
  color: var(--white-collor);
  text-indent: 2rem;
  font-size: 1.7rem;
  line-height: 3.5rem;
  font-family: 'Josefin', sans;
  letter-spacing: .2rem;
  text-align: justify;
  font-weight: 800;
}
.tours-card:hover .card-content {
  transform:translateY(0);
}
.btns-wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-evenly;
  margin: 2rem 0;
}
.link-btn {
  width: 300px;
  height: 50px;
  background-color: #0a0a0a;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow:  1rem 1rem 4rem black;
  transition: transform .5s;
}
.link-btn:hover {
  transform: scale(120%);
  box-shadow: 1rem 1rem 4rem rgb(92, 90, 90);
}
.link-btn a {
  color: white;
  font-size: 2.8rem;
  font-weight: 900;
  text-decoration: underline;
}
/* *  ** end tours section ** * */

.contact-section {
  min-height: 100vh;
  position: relative;
  padding: 2rem;
  width: 100%;
  background-color: var(--black-color);
}
.contact-heading {
  font-size: calc(1vw + 6rem);
  text-align: center;
  color: var(--primary-collor);
  margin: 8rem 0;
}
.contact-wrapper {
  width: 100%;
  display: flex;
  gap: 4rem;
  justify-content: space-evenly;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
  width: 600px;
}
.form-input, .textarea {
  width: 100%;
  height: 80px;
  padding: 2rem;
  border: none;
  font-size: 3rem;
  letter-spacing: .1rem;
  border-radius: .2rem;
  color: white;
  background-color: var(--black-color);
  border: .3rem solid var(--white-collor);
  transition: background-color .5s;
}
.form-input:focus, .textarea:focus {
  color: white;
  background-color: rgb(0, 0, 0);
}
.textarea {
  resize: none;
  max-width: 100%;
  min-height: calc(10vh + 20rem);
}
.submit-btn {
  margin: .3rem 0;
  font-size: 3rem;
  width: 100%;
  height: 80px;
  color: gray;
  background-color: black;
  border: .4rem solid var(--white-collor);
  cursor: pointer;
  transition: color .3s;
  font-weight: 600;
}
.submit-btn:hover {
  color: white;
}
.submit-btn:active {
  transform: translate(.3rem, -.3rem);
}  /*input contacts end */
.hr {
  width: 100%;
  margin: 3rem 0;
  display: none;
}

.social-contacts {
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
  width: auto;
}
.phone{
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  gap: 1rem;
  margin-right: 2rem;
  height: 4rem;
  color: var(--primary-collor);
}
.phone a {
  color: rgb(174, 187, 199);
  font-size: 2rem;
}
.phone a:hover {
  text-decoration: underline;
}
hr {
  border: .3rem solid var(--primary-collor);
}

.social-icons-wrapper ul {
  display: flex;
  justify-content: center;
}
.social-icons-wrapper ul a i {
  font-size: 3.4rem;
  margin: 0 2rem 1rem 0;
  cursor: pointer;
  transition: .2s;
  color: var(--white-collor);
}
.social-icons-wrapper ul a i:hover {
  color: rgb(255, 255, 255);
}
.contact-desc-wrap {
  max-width: 600px;
}
.contact-descr-para {
  color: dodgerblue;
  text-decoration: underline;
  font-size: 1.5rem;
  line-height: 3rem;
  letter-spacing: .1rem;
  margin: 3rem 0;
  text-align: center;
}
.google-map {
  max-width: 600px;
  height: 280px;
  transition: .3s;
}
.google-map iframe{
  width: 100%;
  height: 100%;
}
/* end contact section  */
.copy {
  text-align: right;
  font-size: 15px;
  padding: 10px;
  background-color: var(--black-color);
}
.copy a {
  color: rgb(173, 162, 162);
}

/* back arrow for another page */
.fa-arrow-left {
  font-size: 4rem;
  color: white;
  margin: 2rem;
  position: fixed;
  transition: transform .5s ;
}
.fa-arrow-left:hover {
  transform: scale(110%);
}

@media (max-width: 1120px) {
  html {
    font-size: 45%;
  }
  .contact-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .hr {
    display: block;
  }
}
@media (max-width: 700px) {
  .menu span {
    width: 40px;
    height: 8px;
    margin: .7rem;
  }
  .contact-form {
    width: 100%;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 40%;
  }
}


