*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style: none;
}
html {
  font-size: 60%; 
  scroll-behavior: smooth;
  font-weight: 500;
}
body {
  background-color: #0a0a0a;
  width: 100%;
  height: 100vh;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hide {
  display: none;
}
::-webkit-scrollbar {
  display: none;
}
:root {
  --primary-color: red;
  --black-color: #0a0a0a;
  --white-collor: white;
}
/* * global styles end * */

.loader{
  width: 100%;
  height: 100vh;
  position: fixed;
  /* display: flex; */         
  display: none; /* !   display turnoff */
  user-select: none;
  background-color: #0a0a0a;
}
.loader span {
  font-size: .2rem;
  letter-spacing: .3rem;
  animation: loading 1s  ease-in-out infinite alternate;
}

@keyframes loading {
  0%{
    text-shadow: 10px 0 70px var(--primary-color);
    color: var(--white-collor);
  }
  100%{
    color: var(--primary-color);
      font-size: 4rem;
    }
  }

.loader span:nth-child(2) {
    animation-delay: 0.1s;
}
  .loader span:nth-child(3) {
    animation-delay: 0.2s;
}
  .loader span:nth-child(4) {
    animation-delay: 0.3s;
}
  .loader span:nth-child(5) {
    animation-delay: 0.4s;
}
.loader span:nth-child(6) {
    animation-delay: 0.5s;
}
.loader span:nth-child(7) {
    animation-delay: 0.6s;
}
.loader span:nth-child(8) {
    animation-delay: 0.7s;
}
.loader span:nth-child(9) {
    animation-delay: 0.8s;
}
.loader span:nth-child(10) {
    animation-delay: 0.9s;
} /* * loader end * */ 

.firs-page {
  width: 100%;
  height: 100vh;
  position: relative;
}
.menu {
  display: grid;
  justify-content: right;
  margin: 5rem;
  gap: .2rem;
  cursor: pointer;
}
.menu span {
  display: block;
  width: 50px;
  height: 10px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 4px;
  transition:  0.5s ease-in-out ;
}

.menu span:first-child {
  transform-origin: 0% 0%;
}

.menu span:last-child {
  transform-origin: 0% 100%;
}

.menu.open span:first-child {
  transform: rotate(45deg);
}

.menu.open span:last-child {
  transform: rotate(-45deg);
}
/* Allgeorgia text - animation */
.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fill 0.5s ease forwards 3;
  animation: logo-border 5s ease forwards;
  padding: 0 0 0.2rem 0;
}

.logo path:nth-child(2){  /* first child is rect */
  stroke-dashoffset: 362.75px;
  stroke-dasharray: 362.75px;
  animation: logo-txt-anim 2s ease forwards;
}
.logo path:nth-child(3){
  stroke-dashoffset: 207.61px;
  stroke-dasharray: 207.61px;
  animation: logo-txt-anim 2s ease forwards;
}
.logo path:nth-child(4){
  stroke-dashoffset: 207.61px;
  stroke-dasharray: 207.61px;
  animation: logo-txt-anim 2s ease forwards 0.3s;
}
.logo path:nth-child(5){
  stroke-dashoffset: 380.69px;
  stroke-dasharray: 380.69px;
  animation: logo-txt-anim 2s ease forwards 0.6s;
}
.logo path:nth-child(6){
  stroke-dashoffset: 315.15px;
  stroke-dasharray: 315.15px;
  animation: logo-txt-anim 2s ease forwards 1.2s;
}
.logo path:nth-child(7){
  stroke-dashoffset: 258.610px;
  stroke-dasharray: 258.610px;
  animation: logo-txt-anim 2s ease forwards 1.5s;
}
.logo path:nth-child(8){
  stroke-dashoffset: 154.26px;
  stroke-dasharray: 154.26px;
  animation: logo-txt-anim 2s ease forwards 1.7s;
}
.logo path:nth-child(9){
  stroke-dashoffset: 386.67px;
  stroke-dasharray: 386.67px;
  animation: logo-txt-anim 2s ease forwards 1.9s;
}
.logo path:nth-child(10){
  stroke-dashoffset: 146.22px;
  stroke-dasharray: 146.22px;
  animation: logo-txt-anim 2s ease forwards 2.1s;
}
.logo path:nth-child(11){
 stroke-dashoffset: 295.05px;
 stroke-dasharray: 295.05px;
 animation: logo-txt-anim 2s ease forwards 2.3s;
}
@keyframes logo-txt-anim {
  to {
    stroke-dashoffset: 0;
  }
}

.scroll-angle {
  font-size: 5rem;
  cursor: pointer;
  animation: arrow-anime 4s ease-in-out infinite;
  transition: font-size .5s;
}
.scroll-angle a{
  color: var(--primary-color);
}
.down-angle {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.up-angle {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes arrow-anime{
  0%{ opacity: 0.2;}
  50%{text-shadow: 0 15px 30px var(--primary-color); opacity: 1;}
  50%{ opacity: 0.7;}
  100%{text-shadow: 0 3px 10px var(--primary-color); opacity: 0.2;}
}
.scroll-angle:hover {
  font-size: 7rem;
  opacity: 1;
  animation: none;
  text-shadow: 0 10px 20px var(--primary-color);
}
/* end first page  */

.about-section {
  width: 100%;
  min-height: 100vh;
  border-bottom: .5rem solid var(--white-collor);
  margin-bottom: 4rem;
  padding-bottom: 2rem;
}
.about-wrapper {
  width: 85%;
}
.about-para {
  font-size: calc(1vw + 6rem);
  color: var(--white-collor);
  text-align: justify;
}
.about-para span {
  color: var(--primary-color);
}
.about-para:hover .contact-link{
  color: blue;
  text-decoration: underline .2rem;
}
.contact-link {
  color: var(--white-collor);
}
/* *  end about section * */

/*  * start tours section * */
.tours-section {
  perspective: 1000px;
  padding: .5rem;
  min-height: 100vh;
  border-bottom: .5rem solid var(--primary-color);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.tours-head {
  display: none;
}
.tours-head-wrapper {
  text-align: center;
  animation: spin ease 5s;
  animation-iteration-count: forward;
}
.tours-heading {
  font-size: calc(1vw + 6rem);
  color: red;
}
.tours-heading-txt {
  font-size: calc(1vw + 2rem);
  color: var(--white-collor);
  animation: appear 6s ease-in-out;
}
@keyframes appear{
  0% { opacity: 0;}
  90% { opacity: 0;}
  100% {opacity: 1;}
}
@keyframes spin {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(1turn);
  }
} /* tours heading rotate animations */

.tours-card-wrapper {
  flex-wrap: wrap;
}
.tours-card{
  width:500px;
  height:350px;
  position:relative;
  overflow:hidden;
  background: url('./imgs/card-img1.jpg') ;
  border-radius: .4rem;
  margin: 2rem;
}
.tours-card-1 .img-bar{
  background-image:url("./imgs/card-img1.jpg");
}
.tours-card-2 .img-bar{
  background-image:url("./imgs/card-img2.jpg");
}
.tours-card-3 .img-bar{
  background-image:url("./imgs/card-img3.jpg");
}
.tours-card-4 .img-bar{
  background-image:url("./imgs/card-img4.jpg");
}
.tours-card .img-bar{
  height:100%;
  background-size:cover;
  background-repeat:no-repeat;
  position:absolute;
  transition:all 1s;
  border-radius:5px;
}

.tours-card .img-bar:nth-child(1){
  width:25%;
  z-index:6;
  transition-delay:0s;
}
.tours-card .img-bar:nth-child(2){
  width:50%;
  z-index:5;
  transition-delay:0.2s;
}
.tours-card .img-bar:nth-child(3){
  width:75%;
  z-index:4;
  transition-delay:0.4s;
}
.tours-card .img-bar:nth-child(4){
  width:100%;
  z-index:3;
  transition-delay:0.6s;
}
.tours-card:hover .img-bar{
  transform:translateY(-100%);
}

.card-content{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  height:100%;
  padding:0 30px;
  text-transform:capitalize;
  font-family: Arial;
  text-align:center;
  transform:translateY(100%);
  transition:all 1.5s;
  transition-delay:0.3s;
  color: rgb(31, 30, 30);
  font-style: italic;
  font-weight: 700;
}
.card-content h2 {
  font-size: 3rem;
}
.card-content p{
  margin: 2rem 0;
  font-size: 2rem;
  line-height: 4rem;
}
.tours-card:hover .card-content{
  transform:translateY(0);
}

.all-tours-link {
  text-align: center;
  color: red;
  font-size: 3rem;
}
.all-tours-link:hover {
  text-decoration: underline;
}
/* *  ** end tours section ** * */

.contact-section {
  min-height: 100vh;
  padding: 2rem;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: var(--white-collor);
}
.section-heading {
  font-size: calc(1vw + 6rem);
  text-align: center;
  margin: 4rem 0;
}
.contact-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: space-evenly;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
  width: 600px;
}
.form-input, .textarea {
  width: 100%;
  height: 80px;
  padding: 2rem;
  border: none;
  font-size: 3rem;
  letter-spacing: .1rem;
  border-radius: .2rem;
  color: white;
  background-color: black;
  border: .1rem solid red;
  transition: background-color .5s;
}
.form-input:focus, .textarea:focus {
  background-color: rgb(252, 246, 246);
  color: black;
  border: none;
}
.textarea {
  resize: none;
  max-width: 100%;
  min-height: calc(10vh + 20rem);
}
.submit-btn {
  margin: .3rem 0;
  font-size: 3rem;
  width: 100%;
  height: 80px;
  color: white;
  background-color: black;
  border: .1rem solid red;
  cursor: pointer;
  transition: color .3s;
  font-weight: 600;
}
.submit-btn:hover {
  background-color: rgb(252, 246, 246);
  border: none;
  color: red;
}
.submit-btn:active {
  transform: translate(.3rem, -.3rem);
}  /*input contacts end */

.social-contacts {
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
  width: 400px;
}
.contact-devices div{
  display: flex;
  font-size: 4rem;
  gap: 5rem;
  height: 6rem;
}
.contact-devices div a {
  color: gray;
}
.contact-devices div a:hover {
  text-decoration: underline;
}
.contact-devices div:nth-child(1) {
  color: rgb(25, 110, 25);
}
.contact-devices div:nth-child(2) {
  color: orange;
}
.social-icons-wrapper {
  margin: 3rem 0;
}
.social-icons-wrapper ul{
  display: flex;
}
.social-icons-wrapper ul a i{
  font-size: 4rem;
  margin: 0 2rem 3rem 0;
  cursor: pointer;
  color: gray;
  transition: .5s;
}
.social-icons-wrapper ul a i:hover {
  color: rgb(255, 255, 255);
}